presentation-1/presentation.aux
presentation-1/presentation.dvi
presentation-1/presentation.log
presentation-1/presentation.nav
presentation-1/presentation.out
presentation-1/presentation.snm
presentation-1/presentation.synctex.gz
presentation-1/presentation.toc
